.content {
    width: 350px;
    margin: 100px auto;
    border: 1px solid #345;
  }
  h2 {
    background: #363945;
    color: #fff;
    margin-top: 0;
    padding: 10px;
  }
  h3 {
    margin-top: 40px;
    padding-left: 10px;
  }
  ul {
    list-style-type: none;
    padding: 10px;
    margin: 0;
  }
  ul > li {
    padding: 5px;
    border-bottom: 2px solid #345;
  }
  ul > li:hover {
    color: #fff;
    background-color: #939597;
  }
  .region {
    margin-top: 20px;
  }
  .pl-15 {
    padding-left: 15px;
  }