.task {
    margin: 0 auto;
    margin-top: 20px;
    margin-bottom: 20px;
    border: 2px solid black;
    padding: 5px;
    background: rgb(176, 224, 247);
    width: 95%;
}

.title {
    font-size: 50px;
    text-align: center;
}

.btn {
    margin-top: 10px;
    margin-bottom: 10px;
    font-size: 20px;
    background: black;
    color: white;
    border-radius: 5px;
}

.buttonSection {
    margin: 0 auto;
    width: 95%;
}

.buttonSection>button {
    margin-left: 94.35%;
    width: 70px;
    height: 70px;
}

#modal{
    position: absolute;
    top: 30%;
    width: 300px;
    height: 100px;
    margin-left: 30%;
    float: left;
    left: 250px;
    background-color: antiquewhite;
    border: 2px solid black;
    display: none;
}
#modal > *{
    margin-left: 30px
}