<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>센터 목록</title>
    <script src="./centerList.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.2/dist/css/bootstrap.min.css" rel="stylesheet">
</head>

<body>
    <div id="app">
        <div>
            <h1>코로나19 예방접종센터 목록</h1>
            <label for="selectedArea">지역</label>
            <select v-model="selectedArea" id="selectedArea">
                <option v-for="area in areaList" :value="area">{{area}}</option>
            </select>
            <table class="table table-dark table-striped table-sm" style="width: 800px;">
                <thead>
                    <tr>
                        <th>번호</th>
                        <th>센터명</th>
                        <th>생성일</th>
                        <th>4</th>
                    </tr>
                </thead>
                <tbody v-if="selectedCenters && selectedCenters.length >0">
                    <tr v-for="center of selectedCenters">
                        <td class="content">{{center.id}}</td>
                        <td class="content"><a class="link">{{center.centerName}}</a></td>
                        <td class="content">{{center.createdAt}}</td>
                        <td class="content">{{center.updatedAt}}</td>
    
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</body>
<script>
    new Vue({
        el: "#app",
        data() {
            return {
                newCenterList: centerList.data,
                areaList:["전체","서울특별시","인천광역시","부산광역시","대전광역시","대구광역시","충청남도","충청북도","경상남도","경상북도","전라북도","광주광역시","경기도"],
                selectedArea: '전체',
            }
        },
        computed:{
            selectedCenters(){
                if(this.selectedArea==='전체'){
                    return this.newCenterList;
                }
                return this.newCenterList.filter((center) => {return center.sido == this.selectedArea})
            }
        }
    })
</script>

</html>