<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Vue.js</title>
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
  </head>
  <body>
    <div id="app">
      <my-comp></my-comp>
    </div>
    <template id="MyComp">
      <div>
        <h2>{{msg}}</h2>
      </div>
    </template>
    <script>
      // data 객체로 설정할 경우의 문제 확인하기 - 콘솔

      // Vue.component('MyComp', {
      //   template: '#MyComp',
      //   data: {
      //     msg: 'hello component',
      //   },
      // });

      Vue.component('MyComp', {
        template: '#MyComp',
        data() {
          return {
            msg: 'hello component',
          };
        },
      });

      new Vue({
        el: '#app',
      });
    </script>
  </body>
</html>
